<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

    {{ template "header" . }}

    <div class="container row">
        {{ range . }}
        <div class="card" style="width: 18rem;">
            <img src="{{ .picture }}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ .title }}</h5>
                <p class="card-text">{{ .price }}</p>
            </div>
        </div>
        {{ end }}
    </div>

    {{ template "footer" . }}

    <script src="/static/js/bootstrap.js"></script>
</body>

</html>